{% extends "tracker/layout.html" %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="min-height: calc(100vh - 94px);">
            <div class="col-11 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-white p-5 border border-success border-3 rounded-4 shadow-lg text-center">
                    <h1 class="fs-1 fw-bold mb-4">Page Not Found</h1>
                    <p class="fs-5 mb-4">The page you are looking for does not exist or has moved.</p>
                    <a href="/" class="btn btn-success">Go back to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
